<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Ip:</b>
  <%= @comment.ip %>
</p>

<p>
  <b>User agent:</b>
  <%= @comment.user_agent %>
</p>

<p>
  <b>Photo:</b>
  <%= @comment.photo %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
