<p><%= @results %></p>
<%= form_tag "/users/login" do %>
  <p>Email: <%= text_field_tag :email %></p><br/>
  <p>Senha: <input id="password" name="password" type="password" /></p><br/>
  <%= submit_tag "Save" %>
  <br /><br />
  <p><%= link_to 'Cadastre-se', '/users/new' %></p>
<% end %>