<h1>Pesquisar link</h1>
<%= form_tag(:controller => "links", :action => "search", :method => "post") do %>
  <%= label_tag(:description, "Pesquisar por:") %>
  <%= text_field_tag(:description) %>
  <%= collection_select(:link, :category_id, Category.all, :id, :category) %>
  <%= submit_tag("Pesquisar") %>
<% end %>
<br/>
<% if not @links.nil? then %>
	<table>
		<tr>
			<td>Link</td>
			<td>Descri&ccedil;&atilde;o</td>
		</tr>
		<% @links.each do |link| %>
			<tr>
				<td><%= link_to link.link, link %></td>
				<td><%= link.description %></td>
			</tr>
		<% end %>
	</table>
<% end %>