<p>
<label id="notice" style="color:#DD3030;font-weight:bold"><%= notice %></label>
</p>
<br/>

<p>
  <b>Link:</b>
  <%= @link.link %>
</p>

<p>
  <b>Link de Acesso:</b>
  <%= link_to "Acessar", :controller => "links", :action => "redirect", :token => @link.token %>
</p>

<p>
  <b>Description:</b>
  <%= @link.description %>
</p>

<p>
	<b>Clicks:</b>
	<%= @clicks %>
</p>

<p>
  <b>Category:</b>
  <%= @link.category.nil? ? '' : @link.category.category %>
</p>

