<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @photo.filename %>
</p>

<p>
  <b>Ip:</b>
  <%= @photo.ip %>
</p>

<p>
  <b>User agent:</b>
  <%= @photo.user_agent %>
</p>

<p>
  <b>Category:</b>
  <%= @photo.category %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
