<!DOCTYPE html>
<html>
<head>
 <title>LinkaLinks</title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
</head>
<script language="javascript" type="text/javascript">
	var vleft=20;
	var bloq=false;
	function lc(n) { document.location = n }
	function ge(n) { return document.getElementById(n) }
	function rola_painel() {setInterval(desce_painel,37);}
	function desce_painel() {if(bloq){return;} vleft--;ge('in').style.left=vleft+'px';}
</script>
<body onload="javascript: rola_painel();">
<center>
<div id="p">
<div id="t">
<table><tr><td style="width:140px;vertical-align:top">
<label class="ta">Linka<br/>Links</label>
</td><td style="vertical-align:top">
</td>
<td style="vertical-align:top;padding-right:56px;text-align:right"><img src="/logo_ulbra.png"></img>
</td>
</tr></table>
</div>

<div id="em">
<a href="/links/">ADICIONAR LINK</a>
<a href="/links/search">PESQUISAR LINK</a>
<a href="/links/bannerAll">LISTA COMPLETA</a>
<% if not session[:user_id].nil? then %>
	<a href="/users/logout" style="color:red">SAIR</a>
<% end %>
</div>
<div id="eb" style="text-align:right;padding:20px;color:#DD3030;font-weight:bold">
	<div id="pn" style="overflow:hidden">
		<div id="in" style="position:relative;left:20px" onmouseover="javascript:bloq=true;" onmouseout="javascript:bloq=false;">
		<%
		@painel = Link.order("link asc")
		if not @painel.nil? then %>
			<table style="border:0"><tr>
			
			<% @painel.each do |link| %><td>
					<div class="globo">
					<%= link_to "" + link.link, :controller => "links", :action => "redirect", :token => link.token %>
					</div></td>
			<% end %></tr>
			</table>
		<% end %>
		</div
	</div>
</div>
<div id="c">
<table style="height:100%">
<tr>
<td style="width:100%;padding:7px">
<%= yield %>
</td>
</tr>
</table>
</div>
<div id="f"></div>
<div id="r">
<label style="color:#333333">
<label class="tb">&nbsp;&nbsp;&nbsp;Angelito | Darlan | Marcos | Sonia<br/>&nbsp;&nbsp;&nbsp;Linguagem de Programação para a Web - 2012/02</label>
<br/><%= Time.now %></label>
</div>
</div>
</center></body>
</html>
