<!DOCTYPE html>
<html>
<head>
 <title>LinkaLinks</title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
</head>
<body>
<center>
<div id="p">
<div id="t">
<table><tr><td style="width:140px;vertical-align:top">
<label class="ta">Linka<br/>Links</label>
</td><td style="vertical-align:top">
</td>
<td style="vertical-align:top;padding-right:56px;text-align:right"><img src="/logo_ulbra.png"></img>
</td>
</tr></table>
</div>

<div id="em">
<a href="/links/">ADICIONAR LINK</a>
<a href="/links/search">PESQUISAR LINK</a>
</div>
<div id="eb" style="text-align:right;padding:20px;color:#DD3030;font-weight:bold">
<< Links deslizando aqui da direita para a esquerda...
</div>
<div id="c">
<table style="height:100%">
<tr>
<td style="width:100%;padding:7px">
<%= yield %>
</td>
</tr>
</table>
</div>
<div id="f"></div>
<div id="r">
<label style="color:#333333">
<label class="tb">&nbsp;&nbsp;&nbsp;Angelito | Darlan | Marcos | Sonia<br/>&nbsp;&nbsp;&nbsp;Linguagem de Programação para a Web - 2012/02</label>
<br/><%= Time.now %></label>
</div>
</div>
</center></body>
</html>
